* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
    
}

.menu_superior img {
    width: 200px;
}

/* Menu hamburguesa */
.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-list li a {
    text-decoration: none;
    color: #2C2C2C;
}
.abrir-menu, .cerrar-menu {
    display: none;
}
/* Fin hamburguesa */

main h1 {
    text-align: center;
    text-shadow: h-offset v-offset blur color;
    margin-bottom: 36px;
}
.container {
    display: flex;
    flex-direction: column;
}
.container img {
    width: 260px;
    border-radius: 12px;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    margin-left: 280px;
    margin-bottom: 20px;
}
.container_silex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.container_silex_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 250px;
}
.botones {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.botones p {
    background-color: #2C2C2C;
    color: white;
    padding: 8px;
    border-radius: 8px;
}
.botones p:hover {
    background-color: #636262;
    cursor: pointer;
}
.container_lavoz {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.container_lavoz_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 250px;

}
.container_metanoia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 16px;
    
}
.container_metanoia_info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 250px;

}

footer {
    background-color: #2C2C2C;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 12px;
}

footer img {
    width: 200px;
}
.footer_redes img {
    width: 25px;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 1317px) {

   
}
@media (max-width: 1024px) {
    .menu {gap: 20px;}
    .menu { margin-right: 20px;}
    .menu_superior img {margin-left: 20px;}
    .container img { margin-left: 80px;}
    .container_silex_info { margin-right: 80px;}
    .container_lavoz_info { margin-right: 80px;}
    .container_metanoia_info { margin-right: 80px;}
    .container_metanoia { margin-bottom: 16px;}
   
}

@media (max-width: 768px) {
    .menu {gap: 20px;}
    .menu { margin-right: 20px;}
    .menu_superior img {margin-left: 20px;}
    .container img { margin-left: 40px;}
    .container_silex_info { margin-right: 20px;}
    .container_lavoz_info { margin-right: 20px;}
    .container_metanoia_info { margin-right: 20px;}
    .container_metanoia { margin-bottom: 16px;}
    .container_metanoia img {
        object-fit: cover;
    }
    footer { gap:4px}
    footer { 
        display: flex;
        flex-direction: column;
        justify-content: center;
           
    }       
}
@media (max-width: 480px) {
    .menu_superior {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu {
        gap: 12px;
    }
    /* menu hamburguesa */
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        
    }
    .abrir-menu {
        color: #2C2C2C;
        margin-right: 12px;
    }
    .cerrar-menu {
        color: white;
    }
    .nav-menu {
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    .nav-menu {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 12px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2C2C2C;
        padding: 48px;
        transform: translateX(-100%) ;
        transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;

    }

    .nav-menu.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(-0.1%); /* Mueve el menú a su posición original */

    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: white;
    }

    /* fin */
    .container_silex {
        flex-direction: column;
        align-items: center;
    }
    .container_silex img {
        object-fit: cover;
        height: 350px;
    }
    .container_silex_info {
        text-align: center;
        align-items: center;
        text-align: justify;
        font-size: 12px;
        margin-left: 20px;
    }
    .container_lavoz {
        display: flex;
        flex-direction: column;
    }
    .botones {
        display: flex;
        flex-direction: row;
    }
    .container_lavoz {
        flex-direction: column;
        align-items: center;
    }
    .container_lavoz_info { 
        text-align: center;
        align-items: center;
        font-size: 12px;
        margin-left: 20px;
        text-align: justify;  
    }
    .container_metanoia {
        flex-direction: column;
        align-items: center;
    }
    .container_metanoia_info { 
        text-align: center;
        align-items: center;
        font-size: 12px;
        margin-left: 20px;
        text-align: justify;    
    }
    .container_metanoia img {
        object-fit: cover;
    }
    .container_metanoia { margin-bottom: 16px;}
    footer { gap:4px}
    footer { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
           
    }   
}